html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 15px / 1 sans-serif;
  background-color: rgb(59, 136, 158);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(68, 84, 101);
}

header {
  text-align: center;
  width: 700px;
  margin: auto;
  font-family: palatino;
}

h1 {
  font-weight: 100;
  font-size: 2.5rem;
}

h2 {
  font-weight: 900;
}

body.article {
  display: flex;
  justify-content: center;
}

.main-content main {
  padding: 0 15px;
}

.main-content {
  display: flex;
  flex-direction: row-reverse;
}

.navigation li {
  list-style-type: none;
  padding: 7px 10px;
}

.navigation li a {
  color: white;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: rgb(84, 188, 210);
}

.content {
  width: 75%;
  height: 70%;
  background-color: rgb(225, 241, 243);
  margin-top: 3px;
}
