html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 15px / 1 sans-serif;
  background-color: rgb(59, 136, 158);
}

header {
  text-align: center;
  width: 700px;
  margin: auto;
  font-family: palatino;
}

h1 {
  font-weight: 100;
  font-size: 2.5rem;
  color: rgb(68, 84, 101);
}

body.article {
  display: flex;
  justify-content: center;
}

.content {
  width: 75%;
  height: 70%;
  background-color: rgb(225, 241, 243);
  margin-top: 3px;
}
